@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#navbar #navLeft {
  width: 40vw;
  float: left;
  display: flex;
  justify-content: flex;
  align-items: center;
  color: #FFFFFF;
  height: 50px;
  box-sizing: border-box;
}
#navbar #navRight {
  width: 60vw;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
}
#navbar #navRight a {
  color: #FFFFFF;
  list-style-type: none;
  text-decoration: none;
  padding: 12.5px;
  background-color: #191C21;
}
#navbar #navRight a:hover {
  background-color: #A0A0A0;
}
#navbar {
  width: 100%;
  height: 50px;
  background-color: #191C21;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  #navbar {
    width: 20%;
    height: 100vh;
  }
}
@media only screen and (min-width: 1200px ) and (max-width: 10000px) {
  #navbar {
    width: 15%;
    height: 100vh;
  }
}
#fullpage {
  box-sizing: border-box;
  float: right;
  width: 100%;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  #fullpage {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px ) and (max-width: 10000px) {
  #fullpage {
    width: 85%;
  }
}
.section {
  text-align: center;
}
.vert-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 6em;
  font-family: arial,helvetica;
  color: #fff;
  margin: 0;
}
