@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar #navLeft {
  width: 40vw;
  float: left;
  display: block;
  color: #FFFFFF;
  height: 50px;
  box-sizing: border-box;
}
#navbar #navLeft img {
  display: block;
  margin: auto;
  padding: 5px;
  height: 40px;
  width: 40px;
  float: left;
}
@media only screen and (min-width: 960px) and (max-width: 10000px) {
  #navbar #navLeft img {
    height: initial;
    width: 34%;
    margin-top: 10px;
    margin-left: 33%;
    margin-right: 33%;
    display: block;
  }
}
#navbar #navLeft span {
  display: block;
}
@media only screen and (min-width: 960px) and (max-width: 10000px) {
  #navbar #navLeft span {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 960px) and (max-width: 10000px) {
  #navbar #navLeft {
    width: 100%;
    display: flex;
    height: initial;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  #navbar #navLeft br {
    display: none;
    visibility: hidden;
  }
}
#navbar #navRight {
  width: 60vw;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
}
@media only screen and (min-width: 960px) and (max-width: 10000px) {
  #navbar #navRight {
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    text-align: left;
  }
}
#navbar #navRight a {
  color: #FFFFFF;
  list-style-type: none;
  text-decoration: none;
  padding: 12.5px;
  background-color: #191C21;
}
@media only screen and (min-width: 960px) and (max-width: 10000px) {
  #navbar #navRight a {
    display: block;
    padding: none;
    background-color: #A0A0A0;
  }
}
#navbar #navRight a:hover {
  background-color: #FFFFFF;
  border-bottom: #D83031 solid medium;
}
@media only screen and (min-width: 960px) and (max-width: 10000px) {
  #navbar #navRight a:hover {
    border-bottom: none;
  }
}
#navbar {
  width: 100%;
  height: 50px;
  background-color: #191C21;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  #navbar {
    width: 20%;
    height: 100vh;
  }
}
@media only screen and (min-width: 1200px ) and (max-width: 10000px) {
  #navbar {
    width: 15%;
    height: 100vh;
  }
}
#fullpage {
  box-sizing: border-box;
  float: right;
  width: 100%;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  #fullpage {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px ) and (max-width: 10000px) {
  #fullpage {
    width: 85%;
  }
}
.section {
  text-align: center;
}
.vert-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 6em;
  font-family: arial,helvetica;
  color: #fff;
  margin: 0;
}
.section {
  color: #FFFFFF;
}
.dotstyle-vertical ul {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dotstyle-vertical li {
  position: relative;
  display: block;
  float: left;
  margin: 0 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.dotstyle-vertical li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  position: absolute;
  display: block;
}
.dotstyle-vertical li a:focus {
  outline: none;
}
.dotstyle ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em;
  /* make the text accessible to screen readers */
  cursor: pointer;
  position: absolute;
}
.dotstyle li a:focus {
  outline: none;
}
/* Individual styles and effects */
.dotstyle-scaleup li a {
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
  background-color: white;
}
.dotstyle-scaleup li.current a {
  background-color: white;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
