@charset "UTF-8";
#navbar #navLeft {
  width: 40vw;
  float: left;
  display: flex;
  justify-content: flex;
  align-items: center;
  color: #FFFFFF;
  height: 50px;
  box-sizing: border-box;
}
#navbar #navRight {
  width: 60vw;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
}
#navbar #navRight a {
  color: #FFFFFF;
  list-style-type: none;
  text-decoration: none;
  padding: 12.5px;
  background-color: #191C21;
}
#navbar #navRight a:hover {
  background-color: #A0A0A0;
}
